<font color="green">*To start working on this notebook, or any other notebook that we will use in the Moringa Data Science Course, we will need to save our own copy of it. We can do this by clicking File > Save a Copy in Drive. We will then be able to make edits to our own copy of this notebook.*</font>

# Data Investigation with Pandas

## 1.0 Importing our Libraries

In [1]:
# Importing the libraries we will need 

# Importing the pandas library
# 
import pandas as pd

# Importing the numpy library
#
import numpy as np

## 1.1 Reading the Dataset from our CSV file



The dataset we will use contains information about the 2009 Census - The Rural Urban Population by Age, Sex and District.


*   Dataset link for download or access: [Link](https://drive.google.com/open?id=1pc9ZLFGsosdWBk1lI29ADIqRtCvD_FBe)

In [2]:
# Let's read the data from the CSV file and create the dataframe to be used
# 
data_url = 'datasets/Rural_Urban_Population_By_Age_Sex_and_by_District__2009.csv'
df = pd.read_csv(data_url)
df.head(5)

,District,Urban/Rural,Age_years,Male,Female,Total,County,Province,OBJECTID
0,NAIROBI WEST,Urban,0,10126,10116,20242,Nairobi,NAIROBI,0
1,NAIROBI WEST,Urban,1,8124,7989,16113,Nairobi,NAIROBI,1
2,NAIROBI WEST,Urban,2,8462,8627,17089,Nairobi,NAIROBI,2
3,NAIROBI WEST,Urban,3,8334,8420,16754,Nairobi,NAIROBI,3
4,NAIROBI WEST,Urban,4,7948,7820,15768,Nairobi,NAIROBI,4

## 1.2 Previewing our Dataset

In [3]:
# Let's preview the first 10 rows of our data
# 
df.head(10)

,District,Urban/Rural,Age_years,Male,Female,Total,County,Province,OBJECTID
0,NAIROBI WEST,Urban,0,10126,10116,20242,Nairobi,NAIROBI,0
1,NAIROBI WEST,Urban,1,8124,7989,16113,Nairobi,NAIROBI,1
2,NAIROBI WEST,Urban,2,8462,8627,17089,Nairobi,NAIROBI,2
3,NAIROBI WEST,Urban,3,8334,8420,16754,Nairobi,NAIROBI,3
4,NAIROBI WEST,Urban,4,7948,7820,15768,Nairobi,NAIROBI,4
5,NAIROBI WEST,Urban,5,7547,7660,15207,Nairobi,NAIROBI,5
6,NAIROBI WEST,Urban,6,6966,7082,14048,Nairobi,NAIROBI,6
7,NAIROBI WEST,Urban,7,6511,6674,13185,Nairobi,NAIROBI,7
8,NAIROBI WEST,Urban,8,6171,6489,12660,Nairobi,NAIROBI,8
9,NAIROBI WEST,Urban,9,6361,6662,13023,Nairobi,NAIROBI,9

## 1.3 Accessing Information about our Dataset

In [4]:
# We can getting to know more about the dataset by accessing its information 
#
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25420 entries, 0 to 25419
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   District     25420 non-null  object
 1   Urban/Rural  25420 non-null  object
 2   Age_years    25420 non-null  object
 3   Male         25420 non-null  int64
 4   Female       25420 non-null  int64
 5   Total        25420 non-null  int64
 6   County       25420 non-null  object
 7   Province     25420 non-null  object
 8   OBJECTID     25420 non-null  int64
dtypes: int64(4), object(5)
memory usage: 1.3+ MB

## 1.4 Answering Questions

Let's answer the following questions with our dataset

In [5]:
# Challenge 1
# What was the average age of a person of Kenya?
#
df[df['Age_years'] == '80+'] = '80'
df[df['Age_years'] == 'Age NS'] = '0'
df[['Age_years', 'Male', 'Female', 'Total', 'OBJECTID']] = df[['Age_years', 'Male', 'Female', 'Total', 'OBJECTID']].apply(pd.to_numeric)
mean_age = df['Age_years'].mean()
mean_age

39.51219512195122

In [6]:
# Challenge 2
# What was the average female population in Kenya?
#
mean_female_population =  df['Female'].mean()
mean_female_population

755.6355232100708

In [7]:
# Challenge 3
# What was the average male population in Kenya?
#
mean_male_population =  df['Male'].mean()
mean_male_population

749.2783241542093

In [8]:
# Challenge 4
# Which 5 districts were the most densely populated Kenya in descending order?
#
frame = df['Total'].groupby(df['District']).sum()
frame.sort_values(ascending=False)[:5]

District
NAIROBI EAST     1141605
NAIROBI NORTH    1057449
NAIROBI WEST      682029
SIAYA             542587
MOLO              536814
Name: Total, dtype: int64

In [9]:
# Challenge 5
# Which 5 counties were the most densely populated Counties in descending order?
# 
frame = df['Total'].groupby(df['County']).sum()
frame.sort_values(ascending=False)[:5]

County
Nairobi     3126275
Kiambu      1655780
Kakamega    1645413
Nakuru      1589130
Meru        1567945
Name: Total, dtype: int64

In [10]:
# Challenge 6
# Which 5 districts were the most sparsely populated in descending order?
# 
frame = df['Total'].groupby(df['District']).sum()
frame.sort_values(ascending=False)[-5:]

District
MARSABIT          45827
GARBATULLA        42571
LAIKIPIA NORTH    32508
80                24800
0                     0
Name: Total, dtype: int64

In [11]:
# Challenge 7
# What was the average population of the the most densely populated county in Kenya?
# 
totals = df['Total'].groupby(df['County']).sum()
total = totals.sort_values(ascending=False)
value = total[0]

count = df['Total'].groupby(df['County']).count()
indexed = totals[totals == value].index
counting= count[indexed]

aver = value/counting
aver

County
Nairobi    9769.609375
Name: Total, dtype: float64

In [12]:
# Challenge 8
# What was the average population of the the most sparsely populated county in Kenya?
# 
totals = df['Total'].groupby(df['County']).sum()
total = totals.sort_values(ascending=False)
value = total[-1]

count = df['Total'].groupby(df['County']).count()
indexed = totals[totals == value].index
counting= count[indexed]

aver = value/counting
aver

County
0    0.0
Name: Total, dtype: float64

In [13]:
# Challenge 9
# What was the total population of Busia County? 
# 
frame = df['Total'].groupby(df['County']).sum()
frame['Busia']

737249

In [14]:
# Challenge 10
# What was the average age of person in Busia County? How many people of this age were in Busia County?
# 
totals = df['Age_years'].groupby(df['County']).sum()
total = totals.sort_values(ascending=False)
value = total['Busia']

count = df['Total'].groupby(df['County']).count()
counting= count['Busia']

aver = value/counting
print(f'Average age of people in Busia County was {aver}')

busia = df[(df['County']== 'Busia') & (df['Age_years']== int(aver))]
people = busia['Total'].sum()
print(f"The total number of people with age {int(aver)} in Busia county is {people}")

Average age of people in Busia County was 39.5
The total number of people with age 39 in Busia county is 4914

In [15]:
# Challenge 11
# What was the Total population of Teso South District?
# 
teso_people = df[(df['District'] == 'TESO SOUTH')]
teso_people = teso_people['Total'].sum()
print(f"The total number of people in Teso south district is {teso_people}")

The total number of people in Teso south district is 136998

In [16]:
# Challenge 12
# What was the urban population of Teso South District?
# 
teso_people = df[(df['District'] == 'TESO SOUTH') & (df['Urban/Rural'] == 'Urban')]
teso_people = teso_people['Total'].sum()
print(f"The total number of people in Urban Teso south district is {teso_people}")

The total number of people in Urban Teso south district is 26059

In [17]:
# Challenge 13
# What was the rural population of Teso South District?
# 
teso_people = df[(df['District'] == 'TESO SOUTH') & (df['Urban/Rural'] == 'Rural')]
teso_people = teso_people['Total'].sum()
print(f"The total number of people in Rural Teso south district is {teso_people}")

The total number of people in Rural Teso south district is 110939

In [18]:
# Challenge 14
# What was the population of people aged 60 and above in Kenya?
#
old_people = df[df['Age_years'] >  59]
total_old_people = old_people['Total'].sum()
print(f"The total number of people aged 60 and above is {total_old_people}")

The total number of people aged 60 and above is 1567150

In [19]:
# Challenge 15 
# What was the urban population in Kenya?
#
urban_kenyans = df[df['Urban/Rural'] == 'Urban']
total_urban_kenyans = urban_kenyans['Total'].sum()
print(f"The total population of urban kenyans is {total_urban_kenyans}")

The total population of urban kenyans is 12401054