In [1]:
import pandas as pd
import numpy as np
from sklearn.naive_bayes import GaussianNB

In [3]:
#importing the dataset
df = pd.read_csv('./Datasets/Day03/Glass.csv')
feature = df.loc[:,['RI', 'Na', 'Mg', 'Al', 'Si', 'K', 'Ca', 'Ba', 'Fe']]
label = df.loc[:, ['Type']]
label

     Type
0       1
1       1
2       1
3       1
4       1
..    ...
209     7
210     7
211     7
212     7
213     7

[214 rows x 1 columns]