<font color="green">*To start working on this notebook, or any other notebook that we will use in the Moringa Data Science Course, we will need to save our own copy of it. We can do this by clicking File > Save a Copy in Drive. We will then be able to make edits to our own copy of this notebook.*</font>

# SQL Data Analysis: Population by Type of Disability

## 1.0 Connecting to our Database

In [ ]:
# We will first load the sql extension into our environment
%load_ext sql

# Then connect to our in memory sqlite database
# NB: This database will cease to exist as soon as the database connection is closed. 
%sql sqlite://

## 1.1 Importing Data from CSV files

In [ ]:
# Importing the pandas library
# We will use a function read_csv from pandas to read our datasets as shown
#
import pandas as pd

In [ ]:
# Loading our table from the respective CSV files
# We will export the dataset that we have cleaned using python
#
with open('./datasets/disability.csv','r') as f:
    Population = pd.read_csv(f, index_col=0, encoding='utf-8')
%sql DROP TABLE if EXISTS Population;
%sql PERSIST Population;
%sql SELECT * FROM Population LIMIT 5;

## 1.2 Previewing our Dataset

In [ ]:
# Let's preview the first 10 rows of our data
# 

%sql SELECT * FROM Population LIMIT 10;

## 1.3 Accessing Information about our Dataset

In [ ]:
# Getting to know more about the dataset by accessing its information
#
%sql PRAGMA table_info(Population)

In [ ]:
%sql DELETE FROM Population WHERE `County` = 'Kenya average';

## 1.5 Answering Questions

Let's answer the following questions with our dataset. These are the same questions we answered using the python programming language.

In [ ]:
# Challenge 1
# Which county had the highest no. of registered deaf persons?
# 
%sql select `County`, MAX(`Deaf`) FROM Population;

In [ ]:
# Challenge 2
# Which county had the highest no. of registered persons with a missing hand?
#
%sql select `County`, MAX(`Missing_Hand`) FROM Population;

In [ ]:
# Challenge 3
# Which county had the highest no. of registered persons with a missing foot?
# 
%sql select `County`, MAX(`Missing_Foot`) FROM Population;

In [ ]:
# Challenge 4
# Which county had the highest no. of registered lame persons?
# 
%sql select `County`, MAX(`Lame`) FROM Population;

In [ ]:
# Challenge 5
# Which county had the lowest no. of registered blind persons?
# 
%sql select `County`, `Blind` FROM Population WHERE `Blind` IN (SELECT MIN(`Blind`) FROM Population );

In [ ]:
# Challenge 6
# Which county had the highest third no. of registered deaf persons?
# 
%sql CREATE TABLE `Deaf_Query` as SELECT `County`, `Deaf` FROM Population ORDER BY `Deaf` DESC LIMIT 3;
%sql SELECT `County`, MIN(`Deaf`) as `3rd Most Deaf` FROM `Deaf_Query`;

In [ ]:
#Challenge 6 Extension 
#Drop the created `Deaf_Query` table, used to solve challenge 6
%sql DROP TABLE `Deaf_Query`;

In [ ]:
# Challenge 7
# In descending order, which top 5 counties had the highest no. of registered dumb persons?
# 
%sql SELECT `County`, `Dumb` FROM Population ORDER BY `Dumb` DESC LIMIT 5;

In [ ]:
# Challenge 8
# In ascending order, which top 5 counties had the highest no. of registered persons with a mental disability? 
# 
%sql CREATE TABLE `Mental_Query` AS SELECT `County`, `Mental` FROM Population ORDER BY `Mental` DESC LIMIT 5;
%sql SELECT `County`, `Mental` FROM `Mental_Query` ORDER BY `Mental` ASC;

In [ ]:
#Challenge 8 Extension 
#Drop the created `Mental_Query` table, used to solve challenge 8
%sql DROP TABLE `Mental_Query`;

In [ ]:
# Challenge 9
# Which counties had no registerd blind persons nor deaf persons?
# 
%sql SELECT `County`, `Blind` FROM Population WHERE `Blind` == 0 and `Deaf` == 0;

In [ ]:
# Challenge 10
# Which disability was the most registered across all the counties?
# 
%sql SELECT * FROM Population;

In [ ]:
%sql CREATE TABLE tot AS SELECT MAX(SUM(`Missing_Hand`) AS `Missing_Hand`, SUM(`Missing_Foot`) AS `Missing_Foot`, SUM(`Lame`) AS `Lame`, SUM(`Blind`) AS `Blind`, SUM(`Deaf`) AS `DEAF, SUM(`Dumb`) AS `Dumb`, SUM(`Mental`) AS `Mental`, SUM(`Paralyzed`) AS `Paralyzed`) FROM Population;
%sql

In [ ]:
# Challenge 11
# Which disability was the least registered across all the counties?
#
OUR CODE GOES HERE

SyntaxError: invalid syntax (<ipython-input-20-849815dabacf>, line 4)

In [ ]:
# Challenge 12
# What was the average no. of registered persons with a disability?
#

In [ ]:
# Challenge 13
# Which three counties had least registered persons with disabilities?
#
%sql SELECT `County`, `Total_Count` FROM Population ORDER BY `Total_Count` ASC LIMIT 3;

In [ ]:
# Challenge 14
# What was the total no of registered persons with a disability across all counties?
#
%sql SELECT SUM(`Total_Count`) FROM Population;

In [ ]:
# Challenge 15 
# Which top 3 counties has the highest no. of registered persons with a disability?
# 
%sql SELECT `County`, `Total_Count` FROM Population ORDER BY `Total_Count` DESC LIMIT 3;

<h3>Question To Review: </h3>6,