In [3]:
import pandas as pd

In [4]:
'''Dataframe have row and column index . While DataFrame stores the data internally in a two-dimensional format,
you can easily represent much higher-dimensional data in a tabular
format using hierarchical indexing, a subject of a later section and a key
ingredient in many of the more advanced data-handling features in pandas.
'''

'Dataframe have row and column index . While DataFrame stores the data internally in a two-dimensional format,\nyou can easily represent much higher-dimensional data in a tabular\nformat using hierarchical indexing, a subject of a later section and a key\ningredient in many of the more advanced data-handling features in pandas.\n'

In [12]:
#creating dataframe using a dict of equal-lenght lists or numpy arrays

data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
'year': [2000, 2001, 2002, 2001, 2002],
'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}
frame = pd.DataFrame(data)
frame[['year', 'pop']]

   year  pop
0  2000  1.5
1  2001  1.7
2  2002  3.6
3  2001  2.4
4  2002  2.9

In [ ]:
#specifyting sequence of colums will result in creation of frame in that order and passing non-existing creats it as nan
frame1 = pd.DataFrame(data, columns=['year', 'pop', 'debt'])
frame1

In [ ]:
frame1.columns

In [ ]:
frame1.debt = 14.5
frame1

In [ ]:
import numpy as np
frame1.debt = np.arange(5.)
frame1

In [ ]:
frame1

In [ ]:
'''When assigning lists or arrays to a column, the value’s length must match the length of the DataFrame. If you assign
a Series, it will be instead conformed exactly to the DataFrame’s index, inserting missing values in any holes'''

In [ ]:
#Assigning a column that doesn’t exist will create a new column. The del keyword will delete columns as with a dict:
frame['eastern'] = frame.state == 'Ohio'
frame

In [ ]:
del frame['eastern']
frame

In [13]:
'''Another common form of data is a nested dict of dicts format.If passed to DataFrame, it will interpret the outer dict 
keys as the columns and the inner keys as the row indices'''

pop = {'Nevada': {2001: 2.4, 2002: 2.9},
        'Ohio': {2000: 1.5, 2001: 1.7, 2002: 3.6}}
frame2 = pd.DataFrame(pop)
frame2

      Nevada  Ohio
2000     NaN   1.5
2001     2.4   1.7
2002     2.9   3.6

In [15]:
#we can always transpose frames
frameTransposed = frame2.T
frameTransposed

        2000  2001  2002
Nevada   NaN   2.4   2.9
Ohio     1.5   1.7   3.6

In [ ]:
#if the columns and index have their name attributes set this will be displayed
frame2.index.name = 'year'
frame2.columns.name = 'state'
frame2

In [ ]:
#As with series attribu values returns the data contained in the data frame as a 2D ndarray
frame2.values

In [ ]:
'''With DataFrame, reindex can alter either the (row) index, columns, or both. When
passed just a sequence, the rows are reindexed in the result'''

frame3 = pd.DataFrame(np.arange(9).reshape((3, 3)), index=['a', 'c', 'd'], columns=['Ohio', 'Texas', 'California'])
frame3

In [ ]:
frame4 = frame3.reindex(['a', 'b', 'c', 'd'], fill_value=0.)
frame4

append => Concatenate with additional Index objects, producing a new Index <br>
diff => Compute set difference as an Index <br>
intersection => Compute set intersection <br>
union => Compute set union <br>
isin => Compute boolean array indicating whether each value is contained in the passed collection <br>
delete => Compute new Index with element at index i deleted <br>
drop => Compute new index by deleting passed values <br>
insert => Compute new Index by inserting element at index i <br>
is_monotonic => Returns True if each element is greater than or equal to the previous element <br>
is_unique => Returns True if the Index has no duplicate values <br>
unique => Compute the array of unique values in the Index